body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
}

.main-container {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 300px 486px 360px 182px;
}

/* @@@@@@@@Header bar, top of page@@@@@@@@ */

.header-wrap {
  background-color: white;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  grid-column: 1/-1;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 50%;
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: 5%;
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25%;
  margin-bottom: 2%;
  padding: 0;
}

.header-links {
  list-style-type: none;
  margin: 0 20px;
}

.header-links a {
  text-decoration: none;
  color: black;
  font-family: 'Permanent Marker', cursive;
}

.header-links a:hover {
  color: #0ba39c;
}

/* @@@@@@@@Featured section, mission statement@@@@@@@@ */

.featured {
  grid-column: 1/-1;
  grid-row: 2/3;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
}

.featured img {
  height: 485px;
  margin: 0;
  padding: 0;
  border-left: 3px solid black;
}

.featured-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Righteous', cursive;
  font-weight: bold;
}

.featured-right h2 {
  background-color: white;
  display: inline;
  font-size: 22px;
  padding: 20px 30px;
}

.featured-right div {
  background-color: #252525;
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  padding: 10px 20px;
  margin: 10px 0;
  color: white;
}

.featured-right a {
  text-decoration: none;
  background-color: #0ba39c;
  padding: 20px;
  margin-top: 10px;
  color: white;
}

.featured-right a:hover {
  background-color: #1fc3bc;
}

/* @@@@@@@@Lower images, Style previews@@@@@@@@ */

.hairstyles {
  grid-column: 1/-1;
  grid-row: 3/4;
  background-color: white;
  display: flex;
}

.pictures-ul {
  list-style-type: none;
  width: 100%;
  padding-left: 0;
  margin: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pictures {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.pictures a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pictures h2 {
  font-family: 'Righteous', cursive;
}

.pictures img {
  border: 2px solid #484848;
  opacity: 78%;
  transition: opacity .9s;
}

.pictures img:hover {
  opacity: 100%;
}

/* @@@@@@@@Footer section@@@@@@@@ */

.footer {
  grid-column: 1/-1;
  grid-row: 4/5;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20px 122px 1fr;
}

.footer-left {
  background-color: rgb(0, 0, 0);
  grid-column: 1/2;
  grid-row: 2/3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  opacity: 85%;
}

.footer-right {
  background-color: black;
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  opacity: 85%;
}

.footer-right ul {
  display: flex;
  flex-direction: row;
}

.footer-right li {
  display: flex;
  box-sizing: border-box;
  border: 2px solid white;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.footer-right li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 6px 10px;
}

.footer-right li a:hover {
  background-color: white;
  color: black;
}